<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>RequestAPIServlet</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.RequestAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestAPIServlet</servlet-name>
        <url-pattern>/requestAPIServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParameterServlet</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.ParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterServlet</servlet-name>
        <url-pattern>/parameterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForwardC</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.ForwardC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardC</servlet-name>
        <url-pattern>/forwardC</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResponseIOServlet</servlet-name>
        <servlet-class>com.bberzhou.servletResponse.ResponseIOServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseIOServlet</servlet-name>
        <url-pattern>/responseIOServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Response1</servlet-name>
        <servlet-class>com.bberzhou.servletRequestRedirect.Response1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response1</servlet-name>
        <url-pattern>/response1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Response2</servlet-name>
        <servlet-class>com.bberzhou.servletRequestRedirect.Response2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response2</servlet-name>
        <url-pattern>/response2</url-pattern>
    </servlet-mapping>
<!--    处理重复提交的Servlet-->
    <servlet>
        <servlet-name>ResubmitServlet</servlet-name>
        <servlet-class>com.bberzhou.ResubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResubmitServlet</servlet-name>
        <url-pattern>/resubmitServlet</url-pattern>
    </servlet-mapping>
<!--    配置验证码的Servlet-->
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/Kaptcha.jpg</url-pattern>
    </servlet-mapping>

    <!-- filter标签用于配置一个Filter过滤器-->
    <filter>
        <!--    给filter配置一个别名  -->
        <filter-name>AdminFilter</filter-name>
        <!--    filter类的 全类名   -->
        <filter-class>com.bberzhou.filter.AdminFilter</filter-class>

        <!--    配置 filter的初始化参数,这里可以有多组 -->
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123</param-value>
        </init-param>
    </filter>
    <!-- filter-mapping 配置Filter过滤器的拦截路径 -->
    <filter-mapping>
        <!--  filter-name 表示当前的拦截路径给哪个filter 使用  -->
        <filter-name>AdminFilter</filter-name>
        <!--
            url-pattern 配置拦截路径
                / 表示请求地址为: http://ip:port/工程路径/  映射到IDEA中的web目录

                    /admin/* 表示请求地址为: http://ip:port/工程路径/admin/*  即admin文件夹下的全部

        -->
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>Filter1</filter-name>
        <filter-class>com.bberzhou.filter.Filter1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter1</filter-name>
        <url-pattern>/tartgetWithF12.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>com.bberzhou.filter.Filter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <url-pattern>/tartgetWithF12.jsp</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>com.bberzhou.filter.FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/formServlet</url-pattern>
    </servlet-mapping>
</web-app>