<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>RequestAPIServlet</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.RequestAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestAPIServlet</servlet-name>
        <url-pattern>/requestAPIServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParameterServlet</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.ParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterServlet</servlet-name>
        <url-pattern>/parameterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForwardC</servlet-name>
        <servlet-class>com.bberzhou.servletRequest.ForwardC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardC</servlet-name>
        <url-pattern>/forwardC</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResponseIOServlet</servlet-name>
        <servlet-class>com.bberzhou.servletResponse.ResponseIOServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseIOServlet</servlet-name>
        <url-pattern>/responseIOServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Response1</servlet-name>
        <servlet-class>com.bberzhou.servletRequestRedirect.Response1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response1</servlet-name>
        <url-pattern>/response1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Response2</servlet-name>
        <servlet-class>com.bberzhou.servletRequestRedirect.Response2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response2</servlet-name>
        <url-pattern>/response2</url-pattern>
    </servlet-mapping>
<!--    处理重复提交的Servlet-->
    <servlet>
        <servlet-name>ResubmitServlet</servlet-name>
        <servlet-class>com.bberzhou.ResubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResubmitServlet</servlet-name>
        <url-pattern>/resubmitServlet</url-pattern>
    </servlet-mapping>
<!--    配置验证码的Servlet-->
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/Kaptcha.jpg</url-pattern>
    </servlet-mapping>
</web-app>